.home-main-wrapper {
  display: flex;
  flex-direction: column;
  height: 350px;
  z-index: 999;
  background-position: center;
  background-size: cover;
  .navigation-wrapper {
    display: flex;
    gap: 32px;
    margin-left: 36px;
    margin-top: 44px;
  }
  .hero-description {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: 32px;
    margin-bottom: 53px;
    p {
      color: #fff;
      margin-top: 0px;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px; /* 142.857% */
    }
    h1 {
      margin-bottom: 20px;
      font-size: 48px;
    }
    .description-button-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      button {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 14px;
        background: linear-gradient(
          147deg,
          #fff 0%,
          rgba(255, 255, 255, 0) 100%
        );
        backdrop-filter: blur(10px);
        height: 54px;
        width: 54px;
      }
    }
  }
}
