.movie-card-wrapper {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 255px;
  height: 300px;
  border-radius: 20px;
  border: 1px solid #969696;
  .movie-card-button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      width: 32px;
      height: 32px;
      border-radius: 8.296px;
      background: linear-gradient(147deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      backdrop-filter: blur(5.925926208496094px);
      img {
        width: 14.222px;
        height: 14.222px;
      }
    }
  }
  .movie-card-content {
    padding-top: 16px;
    padding-bottom: 24px;
    color: black;
    margin-top: auto;
    opacity: 0.95;
    background: linear-gradient(148deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(10px);
    .inner-wrapper {
      gap: 6px;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
      h2 {
        color: #000;

        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px; /* 150% */
        margin: 0px;
      }
      p {
        color: #000;

        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 114.286% */
        margin: 0px;
      }
    }
  }
}
